*{ 
		margin: 0;
		padding: 0;
		font-family: sans-serif;
	}
	
.sbanner {
		width: 100%;
		height:100vh;
		background-image: linear-gradient(rgba(0,0,0,0.60),rgba(0,0,0,0.60)),url(library.jpg);	
		background-filter: saturate(180&) blur(20px);		
		background-size: cover;
		background-position: center;
}
.snavbar {
		width: 85%;
		margin: auto;
		padding: 35px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
}
.logo {
		width: 120px;
		cursor: none;
		opacity: 0.5;
}
.snavbar ul li {
		list-style: none;
		display: inline-block;
		margin: 0 20px;
		position: relative;
}
.snavbar ul li a { 
		text-decoration: none;
		color: #fff;
		text-transform: uppercase;
}
.snavbar ul li::after{
		content:'';
		height: 3px;
		width: 0vh;
		background: pink;
		position: absolute;
		left: 0;
		bottom: -10px;
		transition: 0.5s;
}
.snavbar ul li:hover::after {
		width:100%;
}

.scontent {
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		color: white;
}
.scontent h1 { 
		font-size: 50px;
		margin: 60px;
}
.scontent p { 
		margin: 20px auto;
		font-weight: 80;
		line-height: 25px;
}
Button {
	background:"";
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #009688;
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
span {
	background: #009688;
	height: 100%;
	width: 0%;
	border-radius: 25px;
	position: absolute;
	left:0;
	bottom:0;
	z-index: -1;
	transition: 0.5s;
}
button:hover span{
	width: 100%;
}
button:hover{
	border:none;
}